* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(90deg, #fff7ad, #ffa9f9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  width: 100%;
  max-width: 1200px;
  padding: 40px 60px 60px;
  position: relative;
}

.top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
  padding: 15px 10px;
  background: #ffefb4;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  background: linear-gradient(90deg, #8c52ff, #ff914d);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-decoration: none;
}

.auth-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 999px;
  background-color: #ffffffcc;
  color: #000;
  text-decoration: none;
  margin-left: 15px;
}

.auth-btn:hover {
  background-color: #ff1fa9;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.auth-btn a {
  color: black;
  text-decoration: none;
}

.auth-btn:hover a {
  color: white;
}

.hero-text {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  color: #ff1fa9;
  margin-top: 100px;
  font-family: "Climate Crisis", sans-serif;
}

.search-box {
  max-width: 900px;
  margin: 60px auto;
  background: #ffffffdd;
  border-radius: 20px;
  padding: 25px;
}

.search-fields {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.field-input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

.search {
  margin-top: 20px;
  text-align: center;
}

.search button {
  background: #ff1fa9;
  color: white;
  padding: 10px 20px;
  border-radius: 999px;
  border: none;
  margin: 5px;
}

.search button:hover {
  background: black;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.cta {
  margin-top: 80px;
  text-align: center;
}

.cta-btn {
  background: #ff1fa9;
  color: white;
  padding: 14px 28px;
  border-radius: 999px;
  border: none;
}

.cta-btn:hover {
  background: black;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

