* {
  /* Global reset and font setting [THIS WORKS FINE] */
  margin: 0;
  padding: 0;
}

/* Page container [THIS WORKS FINE] */
.page {
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Main heading [THIS WORKS FINE] */
.hero-text {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  color: #ff1fa9;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

/* White background container for benefits [THIS WORKS FINE] */
.white-background{
  background-color: #ffffffcc;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}

/* Subtitle "Members enjoy" Styling [THIS WORKS FINE] */
.subtitle {
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

/* Bullet list "Benefits" [THIS WORKS FINE] */
.benefits {
    text-align: left;
    margin: 0 35px;
    width: 30vw;
    font-size: 16px;
    color: #131314;
    line-height: 1.6;
}

/* Benefits list margin [THIS WORKS FINE] */
.benefits li {
    margin-bottom: 12px;
}


/* Bottom member [THIS WORKS FINE] */
.member {
  margin-top: 50px;
  text-align: center;
}